Repository adessoSE/devblog, pull requests merged in 2019-08, with the labels that each got.

#84 Formulieren von Best Practices zum Schreiben von Blogartikeln
  README.md
  examples/2017-08-10-blog-post-guide.md
  examples/best-practices.md
Labels: enhancement

#103 Neuer Blog-Post: Alte Geschichte neu schreiben
  _data/authors.yml
  _posts/2019-08-12-Alte-Geschichte-neu-schreiben.md
  assets/images/avatars/czarnecki.jpg
Labels: blogpost, waiting-for-review

#104 Identify bottlenecks in your Spring Tests with JUnit Insights
  _posts/2019-08-20-identify-bottlenecks-in-your-spring-tests-with-junit-insights.md
Labels: blogpost

#105 Open source lizenzen
  _data/authors.yml
  _posts/2019-08-28-Open-Source-Lizenzen.md
  assets/images/avatars/johannesteklote.jpg
Labels: blogpost, waiting-for-review
