Repository adessoSE/devblog, pull requests merged in 2019-02, with the labels that each got.

#77 Fix name of post category for the hazelcast post
  _posts/2018-11-12-distributed-execution-mit-hazelcast.md
Labels: bug

#82 Serverless Computing – Betrieb wirklich ohne Server
  _data/authors.yml
  _posts/2019-02-13-Serverless_Computing-Betrieb_wirklich_ohne_Server.md
  assets/images/avatars/hartmann42.jpg
Labels: blogpost, waiting-for-author

#73 Fix preview banner
  _includes/preview-banner.html
Labels: enhancement, waiting-for-review

#83 Micronaut - Eine Alternative zu Spring (?)
  _posts/2019-01-30-Micronaut.md
  assets/images/posts/micronaut/spring-initializer.png
Labels: blogpost, waiting-for-review
