Repository adessoSE/devblog, pull requests merged in 2020-04, with the labels that each got.

#140 run jekyll2cms every day at 1 am
  .github/workflows/convert-blogpost-to-xml.yml
Labels: enhancement

#132 Post: Architekturanalyse sowie Refactoring auf Basis von Tactical Domain-Driven Design
  _data/authors.yml
  _posts/2020-04-08-Architekturanalyse-sowie-Refactoring-auf-Basis-von-Tactical-Domain-Driven-Design.md
  assets/images/avatars/DanielKraft.jpg
  assets/images/posts/Architekturanalyse-sowie-Refactoring-auf-Basis-von-Domain-Driven-Design/Workflow.png
  assets/images/posts/Architekturanalyse-sowie-Refactoring-auf-Basis-von-Domain-Driven-Design/metrics.png
Labels: blogpost, scheduled-for-publication

#145 fix listings in preview
  assets/css/prism.css
Labels: enhancement

#151 Test: Geschweifte Klammern in Codeschnipseln escapen
  examples/2017-08-10-blog-post-guide.md
Labels: bug

#112 Blog-Post: Kollegin Alexa
  _data/authors.yml
  _posts/2020-04-20-wie-alexa-ein-it-projektteam-unterstuetzen-kann.md
  assets/images/avatars/pschild.jpg
  assets/images/posts/wie-alexa-ein-it-projektteam-unterstuetzen-kann/ablaufdiagramm.png
  assets/images/posts/wie-alexa-ein-it-projektteam-unterstuetzen-kann/screenshot.png
Labels: blogpost, scheduled-for-publication

#147 only execute if repo adessoag/devblog
  .github/workflows/convert-blogpost-to-xml.yml
Labels: enhancement

#134 Inkrementelle Softwaremigration nach der Chicken-Little-Methode
  _data/authors.yml
  _posts/2020-03-16-inkrementelle-softwaremigration-nach-der-chicken-little-methode.md
  assets/images/avatars/mschick.jpg
Labels: blogpost, scheduled-for-publication
